body {
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
}

section {
    margin-bottom: 30px;
}

fieldset {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid rgb(110, 151, 226);
    border-bottom: 1px solid rgb(110, 151, 226);
    border-left: none;
    border-right: none;
}

.member {
    width: 1600px;
    height: 590px;
}

input{
    display: inline-block;
    width: 250px;
}
.gender {
    display: inline;
    width: 50px;
}

.btn {
    width : 120px;
    margin-right: 10px;
}

.type1 {    
    text-align: center;
    text-shadow: 5px;
}
.img_menu1 {
    vertical-align: middle;
    padding-bottom: 7px;
    width: 45px;
    height: 45px;
}

.img_menu2 {
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

ul.indexMenu {
    list-style: none; /* 동그라미글머리표 X */
    text-align: center;
}
    
.indexMenu li{
    display: inline; /* 블럭단위 태그(한 줄 차지) => 인라인요소  */
    line-height: 100px;
    text-transform : uppercase;
    letter-spacing: 3px;
    padding-right: 50px;
    font-family: Arial, Helvetica, sans-serif;
 }
    
.indexMenu li a:link {
    text-decoration: none;
    color: black;
 }
    
.indexMenu li a:visited {
    text-decoration: none;
    color: black;
}
    
.indexMenu li a:hover {
    /* text-decoration: underline; */
    color: black;
    text-shadow: 1px 1px 1px gray;
 }
    
.indexMenu li a:active {
    text-decoration: none;
 }

.info {
    padding-top: 20px;
    text-align: center;
    font-size: small;
}

.f1 {
    text-align: center;
    width: 180px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding: 0px 20px 30px 20px;
    font-size: 11px;
    color: black;
    z-index: 12;
}
